<!DOCTYPE html>
<html  lang="ro">
    <head>
        <title>Magazin de jucarii</title>
        
        <meta name = "description" content = "Cele mai frumoase jucarii">
        <meta name="keywords" content="jucarii, copii, copilarie, joc">

        <%- include("../fragmente/head.ejs"); %>
       
        
    </head>
    <body>

        

        <%- include("../fragmente/header.ejs"); %>

        <main>
            
            <div id = "Container">
                <section id = "Despre">
                    <p>
                        <span class="fas fa-child"></span>
                        Există <b>jucării</b> pentru fiecare din stadiile de dezvoltare a copilului. Astfel, copiii mici au jucării de obicei din cauciuc sau alt material elastic, care nu pot fi ingerate cu ușurință. Cu cât copilul este mai mare, cu atât jucăriile destinate lui sunt mai complexe.
                        <span class="fas fa-child"></span>
                    </p>
                    <article>
                        Daca esti in cautarea unui magazin de jucarii ieftine si interesante, care sa ii captiveze pe cei mici, ti-am pregatit cea mai variata selectie. Pe magazinul online vei gasi jocuri pentru fetite si baietei, jocuri interactive, figurine, masinute, papusici, seturi de accesorii si de creatie, la cele mai atractive preturi.
                        Jocurile de exterior sunt ideale pentru micutii activi care adora sa alerge. Puzzle-urile si jocurile educative le vor dezvolta creativitatea, imaginatia si gandirea logica in timp ce se vor distra ore intregi.
                        Gama variata de rechizite, genti si rucsacuri ii va face pe cei mici sa fie entuziasmati de inceperea scolii.
                    </article>
                    <p> <q><dfn id="def-jucarie">Jucăriile </dfn> sunt obiecte create în general pentru a reda la scară redusă realitatea și a oferi copiilor miniaturi reprezentative ale lumii adulților.</q></p>
                    <p>Cel mai frumos site cu jucarii</p>
                    <h2>Despre noi</h2>
                    <p>  <strong>Atentie!!</strong> <em>Aici</em> gasesti tot ce vrei pentru toate varstele</p>
                    <ol>
                        <li>
                            Jucarii mici
                            <span class="fas fa-baby-carriage fa-spin"></span>
                        </li>
                        <li>Jucarii medii</li>
                        <li>Jucarii mari</li>
                    </ol>
                   
                    
                </section>
                <section id = "Oferte">
                    <h2>Oferta</h2>
                    <p>Adaugati in cos produse de minim 50 <abbr title = "leu nou românesc" >RON </abbr>, si puteti primi o reducere de <s>10%</s> <ins>15%</ins></p>
                </section>

                <section id = "Orar">
                    <h2>Orar</h2>
                    <section>
                        <h3>Zile lucru</h3>
                            <!-- TODO ceva tabel poate -->
                        <div id = "container-tabel">
                            <table id = "tabel">
                                <thead>
                                    <tr>
                                        <th>Luni</th>
                                        <th>Marti</th>
                                        <th>Miercuri</th>
                                        <th>Joi</th>
                                        <th>Vineri</th>
                                        <th>Sambata</th>
                                        <th>Duminica</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>ceva1</td>
                                        <td>ceva2</td>
                                        <td>ceva3</td>
                                        <td>ceva4</td>
                                        <td>ceva5</td>
                                        <td>ceva6</td>
                                        <td>ceva7</td>
                                    </tr>
                                    <tr>
                                        <td>nush1</td>
                                        <td>nush2</td>
                                        <td>nush3</td>
                                        <td>nush4</td>
                                        <td>nush5</td>
                                        <td>nush6</td>
                                        <td>nush7</td>
                                    </tr>
                                    <tr>
                                        <td>nush1</td>
                                        <td>nush2</td>
                                        <td>nush3</td>
                                        <td>nush4</td>
                                        <td>nush5</td>
                                        <td>nush6</td>
                                        <td>nush7</td>
                                    </tr>
                                    <tr>
                                        <td>nush1</td>
                                        <td>nush2</td>
                                        <td>nush3</td>
                                        <td>nush4</td>
                                        <td>nush5</td>
                                        <td>nush6</td>
                                        <td>nush7</td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td colspan="7">text deosebit de interesant</td>
                                    </tr>
                                </tfoot>
                                <caption>Orarul nostru</caption>
                            </table>
                        </div>

                        <h3>Angajati</h3>
                            <ol>
                                <li>Vasilesc Vasile</li>
                                <li>Popescu Ion</li>
                            </ol>

                    </section>
                    
                </section>

                <section id = "Anunturi">
                    <h2>Urmareste-ne pe youtube!</h2>
                    <a href="https://www.youtube.com/" target="_blank"><abbr title = "Magazin de Jucarii" >MDJ </abbr></a>
                </section>

                <section id = "Utilizatori">

                    <p> <%- locals.ip %></p>
                    

                    <h2>Utilizator Online</h2>
                    <ol>
                        <li>Vasile1</li>
                        <li>Vasile2</li>
                        <li>Ionel1</li>
                        <li>Ionel2</li>
                    </ol>
                </section>
                
                <section id = "Statistici">
                    <h2>Date utilizator si Statistici</h2>
                    <p>
                        Morbi ac lacinia sapien. Sed rutrum nunc id erat posuere, sed volutpat lacus malesuada. 
                        Etiam mollis porttitor urna, vel porta nibh scelerisque eu. Suspendisse bibendum, sem at 
                        vehicula consequat, lacus ligula porta ante, non congue mi leo a enim. Nunc vel auctor urna. 
                        Aliquam sollicitudin odio nec vestibulum scelerisque. Lorem ipsum dolor sit amet, consectetur 
                        adipiscing elit. Proin eu neque gravida, malesuada tortor non, iaculis sapien. Etiam quis dapibus 
                        mauris, eu imperdiet quam. Suspendisse ac nunc tellus. Nullam fringilla lacus quam. Vestibulum ut 
                        turpis id dolor interdum ultrices nec vitae sem. Phasellus in tincidunt felis. Praesent fermentum 
                        tristique justo, ut molestie purus viverra eget. Sed imperdiet luctus lorem eget viverra. Proin lorem lorem, 
                        imperdiet at leo a, vulputate maximus nulla.
                    </p>
                </section>
                <section id = "Server">
                    <h2>Date despre site si server</h2>
                    <p>
                        Nunc sit amet aliquet nulla, ut cursus est. Pellentesque maximus arcu lorem, et imperdiet mauris 
                        feugiat vel. Nunc pulvinar eu risus nec elementum. Sed nisl leo, mollis aliquet lacus vitae, laoreet 
                        faucibus massa. Integer sagittis commodo augue, a luctus erat malesuada sit amet. Nunc eu lacus ultricies,
                         ornare metus et, vulputate ligula. Pellentesque consequat non eros eu pulvinar. Nunc commodo imperdiet dui.
                    </p>
                </section>


                <section id = "Imagine">
                    <h2>Jucarii de plaja</h2>
                    <picture>
                        <!-- il ia pe primul care se potriveste cu query-ul din media-->
                        <source srcset="./resurse/imagini/bucket1.jpg" media="(max-width:500px)"/>
                        <source srcset="./resurse/imagini/bucket2.jpg" media="(max-width:1000px)"/>
                        <img src="./resurse/imagini/bucket3.jpg" alt="text"/>
                    </picture>
                    <details >
                        <summary> <b>Reducere</b></summary>
                        <p>Cel mai vandut produs al anului, acum la <strong>20%</strong> reducere</p>
                    </details>


                </section>

                
                <section id = "Recenzii">
                    <h2 id = "Title-Recenzii">Recenzii</h2>
                    <iframe src="https://www.youtube.com/embed/qfhQR_saeyo" name="iframe" id ="Window"></iframe>
                    <nav>
                        <ul>
                            <div class="taburi-iframe">
                                <li><a href="https://www.youtube.com/embed/qfhQR_saeyo" target="iframe">Figurine</a></li>
                                <li><a href="https://www.youtube.com/embed/msFOxMDcqkE" target="iframe">Masinute</a></li>
                                <li><a href="https://www.youtube.com/embed/VePYN6kTQKw" target="iframe">Papusi</a></li>
                            </div>
                        </ul>
                    </nav>
                    
                    <h3>
                        <a id = "Link-download" href="./resurse/recenzii/recenzie1.txt" download >
                            Descarca Recenzii!!
                        </a>
                    </h3>
                </section>
            </div>
            <section id = "videoclip">
                <video width="320" height="240" controls="controls" poster="/resurse/imagini/caruselmisto.jpg" preload="none">
                    <source src="/resurse/video/carusel.mp4" type="video/mp4">
                    <source src="/resurse/video/caruselmov.mov" type="video/mov">
                    <track default src="/resurse/tracks/mesaje_ro.vtt" kind="captions" srclang="ro" label="romana"/>
                    <track  src="/resurse/tracks/mesaje_en.vtt" kind="captions" srclang="en" label="engleza" />
                </video>
            </section>
            <section>
                <div id = "galerie-statica">
                <% k = 1;
                    for(let imag of locals.imagini) {%>
                    <figure>
                        <source srcset="<%- imag.mic %>" media="(max-width:800px)" />
                        <source srcset="<%- imag.mediu %>" media="(max-width:1200px)" />
                        <img src = "<%-imag.mare %>" alt = "<%-imag.descriere%>" />

                        <%
                        function convertToRoman(num) {
                        var roman = {
                            m: 1000,
                            cm: 900,
                            d: 500,
                            cd: 400,
                            c: 100,
                            xc: 90,
                            l: 50,
                            xl: 40,
                            x: 10,
                            ix: 9,
                            v: 5,
                            iv: 4,
                            i: 1
                        };
                        var str = '';

                        for (var i of Object.keys(roman)) {
                            var q = Math.floor(num / roman[i]);
                            num -= q * roman[i];
                            str += i.repeat(q);
                        }

                        return str;
                        }
                        %>

                        <figcaption><%-convertToRoman(k)%>) <%- imag.descriere %></figcaption>
                    </figure>    
                     
                <% k++;} %>
                </div>

                
                <div id = "galerie-animata">
                <% for(let imag of locals.imagini) {%>
                    <figure>
                        <source srcset="<%- imag.mic %>" media="(max-width:800px)" />
                        <source srcset="<%- imag.mediu %>" media="(max-width:1200px)" />
                        <img src = "<%-imag.mare %>" alt = "<%-imag.descriere%>" />
                        <figcaption><%- imag.descriere %></figcaption>
                    </figure>    
                <% } %>
                </div>


                
            </section>

        </main>

        <%- include("../fragmente/footer.ejs"); %>
        

    </body>
</html>